{
  "extends": "airbnb/base",
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "space-before-function-paren": 0,
    "func-names": 0,
    "object-shorthand": 0,
    "no-param-reassign": 0,
    "prefer-template": 0,
    "max-len": [2, 200, 4, {
      "ignoreComments": true,
      "ignoreUrls": true
    }]
  }
}
